<div class="blura">
  <div class="container">
    <div class="priority">
      <div class="log-reg">
        <span class="log" (click)="registrationOrLogin(true)" [ngClass]="{ focus: priority }">Вход</span>
        <mat-icon class="gap"> restaurant </mat-icon>
        <span class="reg" (click)="registrationOrLogin(false)" [ngClass]="{ focus: !priority }">Регистрация</span>
      </div>
    </div>
    <div class="text-center m-[20px] w-[-webkit-fill-available] min-h-[20px]">
      <mat-error *ngIf="errorEmail">{{ errorEmail }} </mat-error>
    </div>
    <form class="form-container" [formGroup]="formLoginOrReg" (ngSubmit)="onSubmit()">
      <div class="form">
        <app-input [form]="formLoginOrReg" controlName="email" label="Email" placeholder="пример@gmail.com"></app-input>

        <app-input [form]="formLoginOrReg" controlName="password" label="Пароль" [showBtn]="priority"></app-input>

        @if (!priority){

        <app-input [form]="formLoginOrReg" controlName="checkPassword" label="Повторить пароль"></app-input>
        }
      </div>

      @if(!priority){
      <div class="text-center m-[10px] w-[-webkit-fill-available] h-[20px]">
        <mat-error *ngIf="formLoginOrReg.errors?.['passwordsMismatch'] && formLoginOrReg.get('checkPassword')?.touched">
          Пароли не совпадают
        </mat-error>
      </div>
      } @else{
      <div class="text-center m-[10px] w-[-webkit-fill-available] h-[20px]">
        <span style="cursor: pointer" (click)="resetPassword()">Забыли пароль?</span>
      </div>
      }

      <div class="btn">
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="priority ? formLoginOrReg.get('email')?.invalid || formLoginOrReg.get('password')?.invalid : formLoginOrReg.invalid"
        >
          {{ priority ? "Войти" : "Регистрация" }}
        </button>
      </div>
    </form>
  </div>
</div>
